font = "ProximaNova", Arial, Sans-Serif
font-color = #333
blue = #0087ff
orange = #f99e02
green = #A8E653

//FONT 
@font-face
  font-family 'ProximaNova'
  src url('http://www.mozio.com/css/fonts/proxima_nova/ProximaNova-Reg-webfont.eot');
  src url('http://www.mozio.com/css/fonts/proxima_nova/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'), url('http://www.mozio.com/css/fonts/proxima_nova/ProximaNova-Reg-webfont.woff') format('woff'), url('http://www.mozio.com/css/fonts/proxima_nova/ProximaNova-Reg-webfont.ttf') format('truetype'), url('http://www.mozio.com/css/fonts/proxima_nova/ProximaNova-Reg-webfont.svg#ProximaNovaRgRegular') format('svg');
  font-weight normal
  font-style normal

body
  padding-top 0px
  padding-bottom 20px
  font-family font

 
.header,
.marketing,
.footer
  padding-left 15px
  padding-right 15px

.header
  border-bottom 1px solid white //#e5e5e5
  margin-bottom 30px
  h3
    margin-top 0
    margin-bottom 0
    line-height 40px
    padding-bottom 19px

.footer
  padding-top 19px
  color #777
  border-top 1px solid white 

// Navbar
.logo
	width 120px
	padding-bottom 20px
	
// Header/Above Fold
#header 
	background-color darkorange
	z-index -99
	padding-top 20px
	color white
	h1, h2, h3
		-webkit-font-smoothing antialiased
		margin-top 10px
	.hero
		text-align center
		margin-bottom 20px
		padding-top 15% 


// EMAIL 

.email
  -moz-transition all 0.5s
  -o-transition all 0.5s
  -webkit-transition all 0.5s
  transition all 0.5s
  color #333
  
label
  display block
  position relative
  margin 0 0 10px 0
  -moz-transition all 0.5s
  -o-transition all 0.5s
  -webkit-transition all 0.5s
  transition all 0.5s
  textarea
    min-height 6em



.checked
	background-color blue

label input, label textarea
  display block
  font-size 1em
  width 100%
  padding 0.5em 2.75em
  border none
  background #f9f9fa
  border-radius 0.2em
  -moz-transition all 0.5s
  -o-transition all 0.5s
  -webkit-transition all 0.5s
  transition all 0.5s


label input:focus, label textarea:focus
  outline none
  box-shadow 0 0 1em rgba(255,255,255,1)
  -moz-transition all 0.2s
  -o-transition all 0.2s
  -webkit-transition all 0.2s
  transition all 0.2s
  

.container
  //width 20em
  position relative
 
input[type=radio]
		display none
		
 .btn-group
 		width 100%
 		input[type=radio]
 			display none
 		.mode 
 			.btn
 				width 25%
 
	
.btn
  color white
  //padding 8px 10px
  border 4px solid blue
  border-radius 4px
  margin 0 0 10px 0
  display block
  cursor pointer
  width 50%
  &:hover 
  	color white
  	background-color orange
  	border 4px solid orange !important //clean 

.form-wrap 
	text-align center
	form 
		max-width 640px
		display inline-block 

// Destination/Airport 
.airport-field input
	background url('http://widget.mozio.com/airport-marker.png') no-repeat 5px center white
	background-position-x 7px
.destination-field input
	background url('http://widget.mozio.com/location-marker.png') no-repeat 5px center white
	background-position-x 10px

// Date, Time 
.btn-group-date 
	position relative
	width 100%
	display inline-block
	text-align center
	.mode 
		width 49% //clean
		position relative
		display inline-block
		&:first-child
			margin-right 2% 	
	.date input
		background url('http://widget.mozio.com/calendar-icon.png') no-repeat 6px center white
		background-position-x 10px	
	.time input
		background url('http://widget.mozio.com/time-icon.png') no-repeat 6px center white
		background-position-x 10px		

// Domestic or Int. Passengers
.btn-group-details 
	position relative
	width 100%
	display inline-block
	text-align left	
	.mode 
		float left
		&:first-child
			margin-right 2%
	.intDom
		width 40%
		min-width 150px
	.passengers
		width 10%
		min-width 50px
	.text
		color white
		margin-top 7px
		margin-left 2%
	select 
		width 100%
	label select
		background orange
		border 4px solid orange
		height 34px

// Circles, Radio, One-way, RT
.btn-group-mode
	position relative
	width 100%
	display inline-block
	text-align center
	.mode 
		width 17%
		min-width 125px
		position relative
		display inline-block
		height 32px
		.mode-radio 
			height 30px
			width 30px
			border-radius 15px
			border 4px solid blue
			float left
			padding 0
			.mode-radio-text
				margin-left 40px

// Search
.btn-search
  color #333
  //padding 8px 10px
  border 4px solid green
  border-radius 4px
  margin 0 0 10px 0
  display block
  cursor pointer
  width 150px
  background green
  -moz-transition all 0.5s
  -o-transition all 0.5s
  -webkit-transition all 0.5s
  transition all 0.5s
  float right
  &:hover, &:focus
  	color #333
  	background-color green
  	border 4px solid green !important //clean 
	  -moz-transition all 0.5s
	  -o-transition all 0.5s
	  -webkit-transition all 0.5s
	  transition all 0.5s
	  	
.sent
  filter unqoute("progid:DXImageTransform.Microsoft.Alpha(enabled=false)")
  opacity 1
  -moz-transition all 0.5s ease-in-out
  -o-transition all 0.5s ease-in-out
  -webkit-transition all 0.5s ease-in-out
  -webkit-transition-delay 1s
  transition all 0.5s ease-in-out
    
.hidden
  filter unqoute("progid:DXImageTransform.Microsoft.Alpha(Opacity=0)")
  opacity 0
  position absolute
  z-index -1

.no-placeholder
  display none

.ie-lt9
  .no-placeholder
    display block


@media (min-width:768px)
   .container 
    	max-width 1060px//730px
    	width 93.96226%
    	
.container-narrow > hr
  margin 30px 0
  
.jumbotron
  text-align center
  background-color rgba(0,0,0,0)
  .btn
    font-size 21px
    padding 14px 24px

.marketing
  margin 40px 0
  p
    & + h4
      margin-top 28px

@media screen and (min-width:768px)
  .header,
  .marketing,
  .footer 
    padding-left 0
    padding-right 0
  .header
  	margin-bottom 30px
  .jumbotron
  	border-bottom 0

