
header#header(height ng-style="style()")
  .container
    div(ng-include='\'partials/navbar\'')
    .jumbotron
      h1 Travel Like a Local.
      h3 Mozio takes you from your doorstep to the airport.

.container
  | hello
  .footer
    p ♥ from the Yeoman team