
header#header(height ng-style="style()")
	.photo-credit
		a(href="https://www.flickr.com/photos/steventheamusing/" target="_blank")
			| S. Christensen -
			i Mission Peak. Fremont, CA
	.container
		div(ng-include='\'partials/navbar\'')
		.hero
			//- Travel Like a Local. // Plan/reserve/last mile //fast/easy // Mozio takes you from your doorstep to the airport. 
			.copy
				h2 The last mile.
				h3 Book a shuttle or limo to and from Fremont, CA.
			.form-wrap
				form.email(name='form' novalidate)
					.btn-group

						//- To or from Radio
						label.btn(ng-class="{'checked': isCheckedAirport == 'from_airport'}")
							| From the airport
							input(type='radio' name='dir' ng-model='isCheckedAirport' value='from_airport')

						label.btn(ng-class="{'checked': isCheckedAirport == 'to_airport'}")
							| To the airport
							input(type='radio' name='dir' ng-model='isCheckedAirport' value='to_airport') 

					//- Destination/Airport
					.btn-group-destination
						label(for='destination' ng-class="{'airport-field': isCheckedAirport == 'from_airport', 'destination-field': isCheckedAirport == 'to_airport'}")
							input#name(placeholder="Your address" name='destination' ng-model='destionation' type='text' required)
						
						label(for='airport' ng-class="{'airport-field': isCheckedAirport != 'from_airport', 'destination-field': isCheckedAirport != 'to_airport'}")
							input#email(placeholder="SFO" name='airport' ng-model='airport' value='airport' type='email' required)
					
					//- RT or OW
					.btn-group-mode
						.mode
							label.mode-radio.btn(ng-class="{'checked': isChecked == 'round_trip'}")
								.mode-radio-text Round trip
								input(type='radio' name='mode' ng-model='isChecked' value='round_trip')
						.mode
							label.mode-radio.btn(ng-class="{'checked': isChecked == 'one_way'}")
								.mode-radio-text One way
								input(type='radio' name='mode' ng-model='isChecked' value='one_way') 
					
					//- Date
					.btn-group-date
						.mode
							label(class="date")
								input#name(placeholder="May 31, 2014" name='destination' ng-model='destionation' type='text' required)
					
						.mode
							label(class="time")
								input#email(placeholder="10:00PM" name='airport' ng-model='airport' value='airport' type='email' required)          
					
					//- Domestic & Passengers 
					.btn-group-details
						.mode.intDom
							label()
								select.btn
									option(value='Domestic') Domestic
									option(value='International') International
						.mode.passengers
							label()
								select.btn
									option(value='1') 1
									option(value='2') 2
						.mode.passengers.text Passengers 
					//- CTA!!
					input.btn-search(type='submit' value='Search' name='subscribe' )

	.arrow
		img(src='images/down-arrow.png')
	//-move below fold


.content
	.row.col-md-12(style="background-color:#333")
		.container
			.logos 
				h4 Press:
				a(href='http://techcrunch.com/2014/05/14/mozio-raises-750k-for-its-airport-ground-transportation-search-engine/' target="_blank")
					img(src='images/techcrunch-logo.png' style="height:50px;width:auto") 
				a(href='http://mashable.com/2012/08/08/mozio/' target="_blank")
					img(src='images/mashable.png')  
				a(href='www.huffingtonpost.com/david-litwak/mozio-getting-to-the-airport_b_1643820.html' target="_blank") 
					img(src='images/huff-logo.png')
				a(href='http://venturebeat.com/2012/10/23/mozio-guides-travelers-the-final-mile-from-runway-to-driveway/' target="_blank")  
					img(src='images/venturebeat-logo.png')
	.row.col-md-12(style='margin-bottom:0;padding-bottom:0')
		.container
			.row(style='margin-bottom:0;padding-bottom:0')
				//-h2(style='text-align:center') Header
				.col-md-4
					.row
						.col-md-3.col-xs-2
							img(src='http://www.mozio.com/images/frontend/sign-post.png')
						.col-md-9.col-xs-10
							h2 Last mile:
							p Shuttles and Limos to or from San Francisco International Airport (SFO), just type in your Fremont address.
				.col-md-4
					.row
						.col-md-3.col-xs-2
							img(src='http://www.mozio.com/images/frontend/map.png')
						.col-md-9.col-xs-10
							h2 With:
							p Mozio searches shuttles, taxis, limos, airporters, rideshare and public transit from Downtown Fremont to San Francisco International Airport (SFO). Find reliable Shuttle and Limo transportation from central Fremont to SFO
				.col-md-4
					.row
						.col-md-3.col-xs-2
							img(src='http://www.mozio.com/images/frontend/layout.png')
						.col-md-9.col-xs-10
							h2 Convenience:
							p Don't deal with calling or emailing local providers, just book your shuttle, limo or taxi from SFO to the Fremont city center with a couple clicks.
	map.row.col-md-12#map-canvas
		


	.footer
		p ♥










